
/* Styles for INTEREST Page */

.interest h2 {
    font-family: 'Lato', sans-serif;
    color: rgba(10, 21, 0, 1);
    padding-top: 15px;
    background-color: rgba(252, 193, 1, 0.20);
  }
  
.interest p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.3;
    color: rgba(10, 21, 0, .85);
    padding-right: 10px;
  }
  
.interest ul {
    font-family: 'Roboto', sans-serif;
    color: rgba(10, 21, 0, .85);
    font-weight: 300;
    line-height: 1.3;
  }

.interest .last-about {
    Padding-bottom: 0px;
  }
  
.skills-list li {
    padding-bottom: 5px;
  }
